* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    width: 100vw;
}

#parent {
    height: 100vh;
    width: 100vw;
    background: blueviolet;
    position: relative; /* Add position relative to create a positioning context for absolute positioning */
}

#hero1, #hero2,#hero3,#hero4 {
    height: 250px;
    width: 250px;
   border-radius: 50%;
   filter: blur(9px);
    position: absolute; /* Set position to absolute to position them relative to the parent */
     /* Align vertically in the middle of the parent */

}

#hero1 {
    background-color: aqua;
    left: 0;
    top:50%;
    animation-name: herok;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
   
}

#hero2 {
    background-color: blue;
    right: 0;
    top: 50%;
    animation-name: heror;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
 
}



@keyframes herok {

    from{
        left:0;

        
    }

    to{
        left:50%;
        background-color: yellow;
        width: 10%;
        height: 20%;
        
    }
    
}

@keyframes heror {

    from{
        right:0;
    }

    to{
        right:50%;
        background-color: brown;
        width: 10%;
        height: 20%;
    }
    
}

#hero3{
    background-color: black;
    bottom:0;
    left:50%;
    animation-name: herobottom;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}


#hero4{
    background-color: rgb(172, 39, 39);
    top:0;
    left:50%;
    animation-name: herotop;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes herobottom {

    from{
        bottom:0;
         background-color: burlywood;
    }

    to{
       bottom:50%;
       background-color: crimson;
       width: 10%;
        height: 20%;
       
        
    }
    
}

@keyframes herotop {

    from{
        top:0;
        background: rgb(29, 73, 143);
         
    }

    to{
       top:50%;
        background-color: aquamarine;
        width: 10%;
        height: 20%;
    }
    
}

