*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width:100%;
}

#page1{
    /* height: 100%; we can give heigth as 100 percent as the parent element main heigh is not given . so % doesnt work here . % means 100% of parent  */
    height: 100vh;
    width: 100%;
    background-color: rgb(238,234,226);
    /* its a good approach to give children position relative . so that children stay in limits ....haha */
    position: relative;
    padding: 0 2vw;
}

nav{
   padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

#nav-second{
    display: flex;
    justify-content: center;
    gap: 1vw;
 
}
#nav-second h4{
    padding: 10px 20px;
    border: 1px solid rgba(5, 5, 5, 0.861);
    border-radius: 50px;
    font-weight: 500px;
    font-size: 17px;
    position:relative; /*giving power to h4 of nav . power over its child elements like pseudo elements e.g. before,after*/
    /* transition: all ease 0.5s; */
    overflow: hidden;  /*hide all the content outside of it not inside*/
}

#nav-second h4::after{
    content:""; /*writing here will write there to inside h4 . so leave it just empty*/
    position:absolute; /* so that it remains in its parent h4 block*/
    height: 100%; /*take heigth and width 100 percent of parent h4*/
    width: 100%;
    background-color: black;
   
    left:0; /* in the h4 or parent container left margin is 0*/
    bottom:-100%;   /*come just below the container*/
    border-radius: 50px;
    transition: all ease 0.4s;
}

/*most imp*/
#nav-second h4:hover::after {
    /* Don't use space here in the syntax. Means if I hover on h4, the pseudo-element of h4 means the ::after */
    bottom: 0;
    /* Or top: 0; Both take the pseudo-element to place */
    border-radius: 0px;
}

#nav-second h4 a{
    text-decoration: none;
    color: black;
    z-index: 9;
    position: relative;
}

#nav-second h4:hover a{
    color: white;
}

#center{
    /* background-color: rgb(203, 157, 79); */
    width:100%;
    height: 65vh;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid rgb(80, 64, 64);
    padding-bottom: 2vw;

}
#left h3{
    width :25vw;
    font-size: 2vw;
    line-height: 2vw;
}
#center h1{
    font-size: 8vw;
    line-height: 7vw;
    text-align: right;

}